html,
body {
	background-color: rgb(195, 196, 197);
	font-family: Calibri, sans-serif;
	color: rgb(119, 119, 120);
	font-size: 20px;
	-webkit-text-stroke: 0.5px #000;
}

h1 {
	-webkit-text-stroke: 1px #000;
	align-items: center;
	display: flex;
}

.inactive {
	color: #808080;
}
